h1 {
  color: red;
}

.long {
  height: 700px;
}

.node {
  cursor: pointer;
}

.overlay{
    background-color: white;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 28px;
  font-family:sans-serif;
}

.labels {
  font-size: 48px;
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.additionalParentLink {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
     display: none;
}

#mainwrapper {
  position: relative;
}

#infodiv {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}

#tree-container {
  width: 80%;
  float: left
}

#desc-container {
  margin-top:100px;
  width: 20%;
  float: left
}




